body {
  background-image: url("water.jpg");
  background-color: #cccccc;
 }

 header {    background-image: url("water.jpg");
    background-color: #cccccc;
   width: auto;
   height: auto;
   background-color: blue;

   }

 img {
   display: block;
   margin: 7px auto 7px auto;

 }

 h1 {
   text-align: center;
   font-size: 2em;
   font-family: Arial, monospace;
   color: white;
 }

 table {
   width: 70%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   border: 1px solid red;
   background-color: green;
 }

 th {
   font-size: 1em;
   color: white;
 }

 td {
   border: 1px solid ;
   text-align: center;
   font-size: 2em;
 }

fieldset {
    background-color: red;
    text-align: center;
    border-radius: 50%;
  }
#parrafo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
   font-size: 40px;
}

.imgContainer{
    float:left;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 41.75px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
}
